* {
  box-sizing: border-box;
}

html, Body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: 'Inter', sans-serif;
}
/* Header */

header {
  display: flex;
  flex-direction: row;
  background-image: url("img/movie-header-img.png");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  height: 35vh;
  color: #FFF;
  justify-content: space-evenly;
  margin-left: auto;
  align-items: center;
;
}


Header > #watch-header {
  width: 85%;
  font-size: 2.6rem;
}

Header a,
Header a:visited {
  text-decoration: none;
  color:inherit;
}

/* Container */

.container {
  max-width: 550px;
  min-height: 100vh;
  margin: 0 auto;
  background:  #4B4B4B;;
}

/* SEARCH BAR */

#search-bar {
  display: flex;
  justify-items: -200px;
  
  height: 40px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  width: 90%;
  justify-content: center;

}

#search-bar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-top-left-radius:6px;
  border-bottom-left-radius: 6px;
  background-color: #2E2E2F;
}

/* INPUT */

input {
  font-size: 1rem;
  margin-right: 0;
  color: #A5A5A5;
  background-color: #2E2E2F;
  width: 60%;
}

input:hover,
input:focus {
background-color: #56535382;
} 

/* SEARCH BTN */

#search-btn {
  margin: 0;
  background-color: #4B4B4B;
  border-top-right-radius:6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  padding: 0 1.2rem;
}

#search-btn:hover,
#search-btn:focus {
background-color: #5e5d5d;
} 

input, 
#search-bar,
#search-bar-icon,
#search-btn {
  border: none;
}

/* MAIN */

#main {
  display: flex;
  align-items: center;
  flex-direction: column;

}

/* Placeholder icon */

#icon-container {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  /* position: absolute; */
  color:  #787878;

}


#icon-container > p {
  display: flex;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
 justify-content: center;
}

#main-placeholder-icon {
  width: 60px;
}
